
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.bodycolor { background-color: yellow; }
nav {
	background-color: orange;

}
.nav {
		margin-top: 0;
		display: inline-block;
		margin: 0,0;
		list-style-type: none;
}	
ul {
	font-size: 15px;
	font-weight: bold;
	font-family: arial;
	list-style-type: none;

}		

li {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 30px;
	list-style-type: none;
	margin-top: 0px;


}




#title {
	font-family: arial;
	font-size: 30px;
	font-weight:  bold;
	text-align: center;
	padding-top: 10px;
		padding-bottom: 10px;

}

#slogan {font-style: italic;
	text-align: center;padding-top: 10px;
		padding-bottom: 10px;}

#readnews {
color: black;
font-style-type: none;
font-weight: bold;
background-color: orange;
border-radius: 15px;
font-size: 0.5rem;
padding: 0.5rem;
margin-bottom: 10px;
align-content: center;
 }

 #hr { border-bottom: 5px solid orange; }

#header {text-align: center;padding-top: 10px;
		padding-bottom: 10px;}

h2 { text-align: center;
	text-transform: uppercase;

	 padding-top: 10px;
		padding-bottom: 10px;}

 a { text-decoration: none; color: black;}

 span {font-style: italic;}

 .jeremiah {font-style: italic;  text-align: center; padding-top: 10px;
		padding-bottom: 10px;}

 .content {text-align: justify;
 	background-color: peachpuff;
 	border-radius: 20px;}

  .paragraph {
 	padding-top: 20px;
 	padding-bottom: 20px;
 	padding-right: 10px;
 	padding-left: 10px;}

